<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>ASCII-ART-WEB</h1>
        <form action="/ascii-art" method="post">
            <div class="row">
                <div class="col-25">
                    <label for="input">Your text: </label>
                </div>
                <div class="col-75">
                    <input type="text" name="text" required>
                </div>
            </div>    
            <div class="row">
                <div class="col-25">
                    <label for="style">Choose style: </label>
                </div>
                <div class="col-75">
                    <select name="style" id="style">
                        <option value="standard">Standard</option>
                        <option value="shadow">Shadow</option>
                        <option value="thinkertoy">Thinkertoy</option>
                    </select>
                </div>
            </div>              
            <div class="row">
                <input type="submit">
            </div>  
        </form>
        <div class="result">
            {{if .}}
            <pre>{{.}}</pre>
            {{end}}
        </div>
    </div>
 
</body>
</html>